*~
*.bak
*.asv
__pycache__
*.pyc
*.so
*.a
*.o
*.o.d
build
dist
eggs
*.egg-info
lib
tmp
docs/_build
.ipynb_checkpoints
env
venv
.env
.venv
.vscode
lib64
wheels
*.egg
*.exe
foo*
spam*
*.vtk
*.cgns
*.msh
*.geo
*_auto.m
test_run_temp.m
.MATLABDriveTag
codegen
*.mex*
*.mat
archive/
*.swp
.nfs*
gmsh_install
main
*.make
*.cmake
*.ts
*.marks